

<div class="container" style="margin: 5%;">
<div class="card" style="width: 18rem;">

    <div class="card-body">
      <h5 class="card-title">Chefs</h5>
      <p class="card-text">Ajouter un Chef.</p>
      <a href="http://localhost:4200/chefs" class="btn btn-primary">Ajouter un chef</a>
    </div>
  </div>

  <br>

  <br>
  <br>


  <div class="card" style="width: 18rem;">

    <div class="card-body">
      <h5 class="card-title">Passer une commande</h5>
      <p class="card-text">Commander une pizza.</p>
      <a href="http://localhost:4200/commande" class="btn btn-primary">Passer une commande</a>
    </div>
  </div>



</div>
